# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:eNaJep
ErrorDocument 404 /404.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eNaJep:ERRORPAGEID

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:visionea.net
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?visionea.net
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:visionea.net











